.vscode
feature_extraction/context_feature_extraction/de.model/*.pkl
/feature_extraction/context_feature_extraction/de.model/*.pkl
vision_model/pubmex_model.pth
pubmex/__pycache__/forward_hook.cpython-36.pyc
pubmex/__pycache__/paper.cpython-36.pyc
pubmex/__pycache__/predictor.cpython-36.pyc
pubmex/__pycache__/pubmexinference.cpython-36.pyc
model/pubmex/__pycache__/*.pyc
model/pubmex/.ipynb_checkpoints/
model/pubmex/vision_model/
generated_dataset/*./.git/objects/9a/161edd91a41c568a04747878a8dfb2dcef8128
model/bi_lstm_submodel/vectors.pickle
model/bi_lstm_submodel/labels.pickle
model/input
model/nlp_output/
model/vision_output/
model/processed_vision_output/
feature_extraction/features/
