.vscode
feature_extraction/context_feature_extraction/de.model/*.pkl
/feature_extraction/context_feature_extraction/de.model/*.pkl
vision_model/pubmex_model.pth
pubmex/__pycache__/forward_hook.cpython-36.pyc
pubmex/__pycache__/paper.cpython-36.pyc
pubmex/__pycache__/predictor.cpython-36.pyc
pubmex/__pycache__/pubmexinference.cpython-36.pyc
model/pubmex/__pycache__/*.pyc
model/pubmex/.ipynb_checkpoints/
model/pubmex/vision_model/
generated_dataset/*./.git/objects/9a/161edd91a41c568a04747878a8dfb2dcef8128
model/bi_lstm_submodel/vectors.pickle
model/bi_lstm_submodel/labels.pickle
model/bi_lstm_submodel/model_inputs/*
model/input
model/nlp_output/
model/vision_output/
model/processed_vision_output/
feature_extraction/features/
./.git/objects/pack/pack-0cc6fadc1811f9beabcf13f771b6754b88b257b6.pack
./.git/objects/pack/pack-4811c3487482918e15d4f3d7d57258028a7d395a.pack
./.git/objects/pack/pack-de552003ca5266420332b810e6a3dc9b78943d72.pack
./.git/objects/pack/pack-1b39b6fdf37ce8b298fb15c776dea70b953b3077.pack
./model/bi_lstm_submodel/vectors.pickle
./web_application_demo/metadata_extraction_web/pubmex/vision_model/model_final.pth
./web_application_demo/metadata_extraction_web/.git/objects/d2/ecd3494e32908fa5d4048b1c522bcdcf7beb71
./web_application_demo/metadata_extraction_web/.git/objects/ff/3117851e884c451bf6c929b738403cc7697239
./web_application_demo/metadata_extraction_web/de.model/token_embedder.pkl
./web_application_demo/metadata_extraction_web/de.model/encoder.pkl
./.git/objects/pack/pack-0cc6fadc1811f9beabcf13f771b6754b88b257b6.pack
./.git/objects/pack/pack-4811c3487482918e15d4f3d7d57258028a7d395a.pack
./.git/objects/pack/pack-de552003ca5266420332b810e6a3dc9b78943d72.pack
./.git/objects/pack/pack-1b39b6fdf37ce8b298fb15c776dea70b953b3077.pack
./model/bi_lstm_submodel/vectors.pickle
./web_application_demo/metadata_extraction_web/pubmex/vision_model/model_final.pth
./web_application_demo/metadata_extraction_web/de.model/token_embedder.pkl
./web_application_demo/metadata_extraction_web/de.model/encoder.pkl
./.git/objects/pack/pack-0cc6fadc1811f9beabcf13f771b6754b88b257b6.pack
./.git/objects/pack/pack-4811c3487482918e15d4f3d7d57258028a7d395a.pack
./.git/objects/pack/pack-de552003ca5266420332b810e6a3dc9b78943d72.pack
./.git/objects/pack/pack-1b39b6fdf37ce8b298fb15c776dea70b953b3077.pack
./model/bi_lstm_submodel/vectors.pickle
